/* Implementation */
/* Implementation */
.p-t-10 {
  padding-top: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.hideit {
  opacity: 0!important;
  filter: alpha(opacity=0) !important;
  -moz-opacity: 0!important;
  -khtml-opacity: 0!important;
  visibility: hidden;
}
.showit {
  opacity: 1!important;
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1!important;
  -khtml-opacity: 1!important;
}
/*colors*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
