// main: custom.less 

/*colors*/
@text:#70818b;
@links:#0c74d5;
@links_hover:#4996df;
@error:#bf4e57;
@success:#62b77e;


/* Large desktop */
@media (min-width: 1200px) {


}

@media (min-width: 991px) and (max-width: 1200px) {



}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 991px) {



}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {




}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {



}


/* Landscape phones and down */
@media (max-width: 480px) {




}
